@import "../../shared/styles/variables";

.auth {
  &__logo {
    margin-bottom: 5rem;
  }

  &-form {
    &__header {
      & h1 {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3rem;
      }

      & p {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        width: 90%;
        margin: auto;
      }
    }

    &__login {
      margin: 5rem 0;
      width: 100%;

      & > * {
        display: block;
      }

      &-button {
        width: 100%;
        margin-top: 2rem;
      }
    }

    &__signup-prompt {
      & p {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }

  &__nav {
    margin: 5rem 0;
    grid-column: full-start / full-end;

    display: flex;
    align-items: center;

    justify-content: center;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Cormorant", serif;

      & h1 {
        color: $color-primary;
        font-size: 4rem;
        font-weight: 700;
      }
    }

    &-logo {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

::ng-deep.mat-progress-spinner {
  display: inline-block !important;
  margin-left: 1rem;

  & circle {
    stroke: $color-white;
  }
}
