<div class="hotel container">
  <div class="hotel__body">
    <div class="hotel__nav">
      <button routerLink="/recommend" mat-icon-button>&xlarr;</button>
    </div>
    <!-- <div class="hotel__header">
      <figure class="hotel__header-logo">
        <img src="/assets/svg/logo.svg" alt="Hotels Logo" />
      </figure>
      <h1>Hotels</h1>
    </div> -->

    <div class="hotel-body">
      <h2 class="hotel-body__title">
        {{ hotel.name }}
      </h2>

      <div class="hotel-body__review-summary">
        <star-rating
          [value]="hotel.rating"
          [totalstars]="totalStars"
          checkedcolor="#274f81"
          uncheckedcolor="transparent"
          size="18px"
          [readonly]="readonly"
        ></star-rating>
        <p>{{ hotel?.rating }} ({{ hotel?.review_count }} reviews)</p>
      </div>

      <div class="hotel-body__address">
        <p>
          {{ hotel?.address }}
        </p>
      </div>

      <div class="hotel-body__description">
        <p>
          {{ hotel?.description }}
        </p>
      </div>

      <div class="hotel-body__reviews">
        <h2>Reviews</h2>

        <div class="review" *ngFor="let review of reviews">
          <div class="review__header">
            <div class="review__reivewer-image">
              <img src="{{ review.reviewer_profile_image }}" alt="" />
            </div>
            <div class="review__header-content">
              <h3>{{ review.reviewer_name }}</h3>
              <p>{{ review.review_date | date: "mediumDate" }}</p>
            </div>
          </div>
          <blockquote class="review__body">
            {{ review.reviewText }}
          </blockquote>
        </div>
      </div>

      <div class="hotel-body__booking">
        <form [formGroup]="bookingForm" class="form" (ngSubmit)="onSubmit()">
          <div class="form__title">Reserve your Room Now!</div>
          <div class="form__group">
            <div class="form__group-title">Dates</div>

            <div class="form__group-input--dates">
              <div class="form__group-input">
                <input
                  placeholder="Check-In Date"
                  class="form__input checkInField"
                  [matDatepicker]="checkInPicker"
                  formControlName="checkinDate"
                  [min]="mincheckinDate"
                  (focus)="checkInPicker.open()"
                  #checkIn
                />
                <label for="name" class="form__label">Check-In Date</label>
                <mat-datepicker-toggle
                  [for]="checkInPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #checkInPicker
                  color="accent"
                  (closed)="checkIn.blur()"
                ></mat-datepicker>
              </div>
              <div class="form__group-input">
                <input
                  placeholder="Check-Out Date"
                  class="form__input checkOutField"
                  [matDatepicker]="checkOutPicker"
                  formControlName="checkoutDate"
                  [min]="mincheckoutDate"
                  (focus)="checkOutPicker.open()"
                  #checkOut
                />
                <label for="name" class="form__label">Check-Out Date</label>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkOutPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #checkOutPicker
                  color="accent"
                  (closed)="checkOut.blur()"
                ></mat-datepicker>
              </div>
            </div>
          </div>

          <div class="form__group guests">
            <div class="form__group-title">Guests</div>
            <div
              class="guests-field"
              matRipple
              #menuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="menu"
              (click)="menuTrigger.openMenu()"
            >
              <div class="guests-field__count">
                {{ room_count }} Room, {{ guest_count }} Guests
              </div>
              <mat-icon class="guest-icon">people</mat-icon>
            </div>
            <mat-menu #menu="matMenu">
              <div class="matMenu__container">
                <div class="matMenu__header">Guests & Rooms</div>
                <div class="matMenu-group" (click)="$event.stopPropagation()">
                  <div class="matMenu-group__title">
                    <mat-icon color="accent">bed</mat-icon>
                    Rooms
                  </div>
                  <div class="matMenu__counter">
                    <button mat-icon-button (click)="decreaseCount('rooms')">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <input
                      type="text"
                      name="Rooms"
                      id="rooms"
                      class="matMenu__input"
                      formControlName="rooms"
                    />
                    <button mat-icon-button (click)="increaseCount('rooms')">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="matMenu-group" (click)="$event.stopPropagation()">
                  <div class="matMenu-group__title">
                    <mat-icon color="accent">person</mat-icon>
                    Guests
                  </div>
                  <div class="matMenu__counter">
                    <button mat-icon-button (click)="decreaseCount('guests')">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <input
                      type="text"
                      name="Guests"
                      id="guests"
                      class="matMenu__input"
                      formControlName="guests"
                    />
                    <button mat-icon-button (click)="increaseCount('guests')">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>

                <button
                  mat-raised-button
                  color="primary"
                  class="matMenu__button"
                  (click)="updateRoomsAndGuests()"
                >
                  Done
                </button>
              </div>
            </mat-menu>
          </div>

          <button matRipple class="form__button" type="submit">
            Book Now
            <mat-icon>trending_flat</mat-icon>
          </button>
        </form>
      </div>

      <div class="hotel-body__reviews"></div>
    </div>
  </div>

  <div
    class="hotel__image"
    [style.background-image]="'url(' + hotel?.image_url + ')'"
  ></div>
</div>
