@import "../shared/styles/variables";

.home {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    
    grid-template-rows: auto 1fr;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, transparent), url("/assets/images/hero.jpg");
    background-size: cover;

  &__nav {
    margin-top: 5rem;
    grid-column: center-start / center-end;

    display: flex;
    align-items: center;

    justify-content: center;

    &-header {
      display: flex;
      align-items: center;

      & h1 {
        color: $color-primary;
        font-size: 4rem;
        font-weight: 700;
        // text-transform: uppercase;
      }
    }

    &-logo {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-pseudo-item,
    &-buttons {
        flex: 1
    }

    &-buttons {
        display: flex;
        justify-content: flex-end;
      & button {
        margin: 0 1rem;
        color: #fff;
      }
    }
  }

  &__header {
    margin-top: 10rem;
    margin-bottom: 10rem;
    grid-column: center-start / center-end;

    & h1 {

        font-size: 3.8rem;
        font-weight: 700;
    }


    &-sub {


        display: inline-block;

        font-size: 6.4rem;
        font-weight: 300;
        margin-top: 1rem;
 
    }



    
  }
}
