<section class="home container">
  <nav class="home__nav">
    <!--Nav Logo  -->
    <div class="home__nav-header">
      <figure class="home__nav-logo">
        <img src="/assets/svg/logo.svg" alt="Hotels Logo" />
      </figure>
      <h1>Hotels</h1>
    </div>

    <!-- Nav Buttons -->
    <div class="home__nav-buttons">
      <button mat-stroked-button color="primary">Sign in</button>
      <button mat-raised-button color="primary">Sign Up</button>
    </div>
  </nav>

  <header class="home__header">
    <h1>
      Let's Make <br />
      <span class="home__header-sub">Your Dream Vacation</span>
    </h1>
  </header>

  <!-- <div class="home__background"></div> -->
</section>
