<section class="home container">
  <nav class="home__nav">
    <div class="home__nav-pseudo-item"></div>
    <!--Nav Logo  -->
    <div class="home__nav-header">
      <figure class="home__nav-logo">
        <img src="/assets/svg/logo.svg" alt="Hotels Logo" />
      </figure>
      <h1>Hotels</h1>
    </div>

    <!-- Nav Buttons -->
    <div class="home__nav-buttons">
      <button mat-raised-button color="accent">Sign in</button>
      <button mat-raised-button color="primary">Sign Up</button>
    </div>
  </nav>

  <header class="home__header">
    <h1>
      Let's Make <br />
      <span class="home__header-sub">Your Dream Vacation</span>
    </h1>
  </header>

  <div class="home-search">
    <div class="home-search__header">
      <h2>Where To?</h2>
    </div>

    <div class="home-search__body">
      <form [formGroup]="searchForm" class="home__form">
        <div class="form__group">
          <input
            type="text"
            class="form__input"
            placeholder="e.g. Santorini, Greece"
            id="name"
            formControlName="destination"
          />
          <label for="name" class="form__label">Destination</label>
          <mat-icon>search</mat-icon>
        </div>

        <div class="form__group">
          <input
            placeholder="Check-In Date"
            matInput
            class="form__input checkInField"
            [matDatepicker]="checkInPicker"
            formControlName="checkinDate"
          />
          <label for="name" class="form__label">Check-In Date</label>
          <mat-datepicker-toggle
            matSuffix
            [for]="checkInPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #checkInPicker color="accent"></mat-datepicker>
        </div>

        <div class="form__group">
          <input
            placeholder="Check-Out Date"
            matInput
            class="form__input checkOutField"
            [matDatepicker]="checkOutPicker"
            formControlName="checkoutDate"
          />
          <label for="name" class="form__label">Check-Out Date</label>
          <mat-datepicker-toggle
            matSuffix
            [for]="checkOutPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #checkOutPicker color="accent"></mat-datepicker>
        </div>

        <div class="form__group guests">
          <div
            class="guests-field"
            matRipple
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu"
            (click)="menuTrigger.openMenu()"
          >
            <div class="guests-field__label">Guests</div>
            <div class="guests-field__count">
              {{ room_count }} Room, {{ guest_count }} Guests
            </div>
            <mat-icon class="guest-icon">people</mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <div class="matMenu__container">
              <div class="matMenu__header">Guests & Rooms</div>
              <div class="matMenu-group" (click)="$event.stopPropagation()">
                <div class="matMenu-group__title">
                  <mat-icon color="accent">bed</mat-icon>
                  Rooms
                </div>
                <div class="matMenu__counter">
                  <button mat-icon-button (click)="decreaseCount('rooms')">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                  <input
                    type="text"
                    name="Rooms"
                    id="rooms"
                    class="matMenu__input"
                    formControlName="rooms"
                  />
                  <button mat-icon-button (click)="increaseCount('rooms')">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </div>
              <div class="matMenu-group" (click)="$event.stopPropagation()">
                <div class="matMenu-group__title">
                  <mat-icon color="accent">person</mat-icon>
                  Guests
                </div>
                <div class="matMenu__counter">
                  <button mat-icon-button (click)="decreaseCount('guests')">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                  <input
                    type="text"
                    name="Guests"
                    id="guests"
                    class="matMenu__input"
                    formControlName="guests"
                  />
                  <button mat-icon-button (click)="increaseCount('guests')">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <button mat-raised-button color="primary" class="matMenu__button" (click)="updateRoomsAndGuests()">
                Done
              </button>
            </div>
          </mat-menu>
        </div>

      </form>
    </div>

    <button class="home-search__button" (click)="onFormSubmit()">
      Search Hotels
      <mat-icon>trending_flat</mat-icon>
    </button>
  </div>
</section>
