@import "../shared/styles/variables";

.home {
  width: 100vw;
  min-height: 100vh;
  position: relative;

  grid-template-rows: auto auto 1fr;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      transparent
    ),
    url("/assets/images/hero.jpg");
  background-size: cover;

  &__nav {
    margin-top: 5rem;
    grid-column: full-start / full-end;

    display: flex;
    align-items: center;

    justify-content: center;

    &-header {
      display: flex;
      align-items: center;

      font-family: "Cormorant", serif;

      & h1 {
        color: $color-primary;
        font-size: 4rem;
        font-weight: 700;
        // text-transform: uppercase;
      }
    }

    &-logo {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-pseudo-item,
    &-buttons {
      flex: 1;
    }

    &-buttons {
      display: flex;
      justify-content: flex-end;
      margin-right: 5rem;

      & button {
        padding: 0.2rem 2rem;
        margin: 0 1rem;
        font-size: 1.8rem;
        color: #fff;
        font-family: "Cormorant", serif;
      }
    }
  }

  &__header {
    margin-top: 10rem;
    margin-bottom: 10rem;
    grid-column: center-start / center-end;

    color: $color-primary;
    font-family: "Cormorant", serif;

    & h1 {
      font-size: 3.8rem;
      font-weight: 700;
    }

    &-sub {
      display: inline-block;
      font-size: 6.4rem;
      font-weight: 300;
      margin-top: 1rem;
    }
  }

  &-search {
    margin-top: 5rem;
    height: 25rem;
    // background-color: rgba(255, 255, 255, 0.15);
    // backdrop-filter: blur(5px);
    background-color: $color-primary;
    color: #fff;

    grid-column: center-start / center-end;
    border-radius: 1rem;
    box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.163),
      0 3.5px 6.1px rgba(0, 0, 0, 0.234), 0 6.6px 11.4px rgba(0, 0, 0, 0.29),
      0 11.8px 20.3px rgba(0, 0, 0, 0.346), 0 22.1px 38px rgba(0, 0, 0, 0.417),
      0 53px 91px rgba(0, 0, 0, 0.58);

    padding: 4rem 6rem;
    position: relative;

    &__header {
      height: 20%;
      display: inline-block;

      h2 {
        font-size: 3.2rem;
        font-weight: 400;
      }
    }

    &__button {
      padding: 2rem 5rem;
      border-radius: 1rem;
      background-color: $color-secondary;
      color: #fff;
      border: none;
      box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.163),
        0 3.5px 6.1px rgba(0, 0, 0, 0.234), 0 6.6px 11.4px rgba(0, 0, 0, 0.29),
        0 11.8px 20.3px rgba(0, 0, 0, 0.346), 0 22.1px 38px rgba(0, 0, 0, 0.417),
        0 53px 91px rgba(0, 0, 0, 0.58);

      position: absolute;
      bottom: -10%;
      right: 6rem;

      font-size: 2rem;
      font-family: "Cormorant", serif;
      display: inline-flex;
      align-items: center;

      & mat-icon {
        margin-left: 2rem;
      }
    }

    &__body {
      margin-top: 3rem;
    }
  }

  &__form {
    color: #000;

    display: flex;

    & div:first-child {
      // position: relative;

      & input {
        padding-left: 5rem;
        margin-right: 2rem;
      }

      & .form__label {
        margin-left: 5rem;
      }

      & mat-icon {
        position: absolute;
        top: 57%;
        left: 5%;
        transform: translateY(-50%);
      }
    }
  }
}

.mat-datepicker-toggle,
.guest-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #333;
}

.guest-icon {
  left: 5%;
}

.guests {
  width: 27rem;
  margin-left: 2rem;
}
.guests-field {
  padding: 1.5rem 2rem;
  padding-top: 2.5rem;
  border-radius: 0.5rem;
  background-color: rgba($color-white, 1);
  border: none;
  border-bottom: 3px solid transparent;
  // width: 90%;
  height: 100%;
  display: block;
  cursor: pointer;

  &__label,
  &__count {
    margin-left: 4rem;
    font-size: 1.6rem;
  }
}

.checkInField {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #000;
}

.checkOutField {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #000;
}

.matMenu {
  // width: 5rem !important;
  // max-width: unset !important;

  &__container {
    padding: 3rem;
    width: 30rem;
  }

  &__header {
    color: $color-primary;
    font-family: "Cormorant", serif;

    font-size: 2.4rem;
    font-weight: 700;

    margin-bottom: 3rem;
  }

  &-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;

      & mat-icon {
        margin-right: 1rem;
      }
    }
  }

  &__counter {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    width: 100%;
    margin-top: 3rem;
  }

  &__input {
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    // padding: 1.5rem 2rem;
    // padding-top: 2.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    background-color: rgba($color-white, 1);
    border: none;
    border-bottom: 3px solid transparent;
    // width: 90%;
    // height: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-black;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-black;
    }

    &::-webkit-input-placeholder {
      color: $color-black !important;
      font-size: 1.6rem !important;
    }
  }
}

::ng-deep.mat-menu-panel {
  max-width: fit-content !important;
}
