<section class="home container">
  <nav class="home__nav">
    <div class="home__nav-pseudo-item"></div>
    <!--Nav Logo  -->
    <div class="home__nav-header">
      <figure class="home__nav-logo">
        <img src="/assets/svg/logo.svg" alt="Hotels Logo" />
      </figure>
      <h1>Hotels</h1>
    </div>

    <!-- Nav Buttons -->
    <div class="home__nav-buttons">
      <button mat-raised-button color="accent">Sign in</button>
      <button mat-raised-button color="primary">Sign Up</button>
    </div>
  </nav>

  <header class="home__header">
    <h1>
      Let's Make <br />
      <span class="home__header-sub">Your Dream Vacation</span>
    </h1>
  </header>

  <div class="home-search">
    <div class="home-search__header">
      <h2>Where To?</h2>
    </div>

    <div class="home-search__body"></div>

    <button class="home-search__button">
      Search Hotels
      <mat-icon>trending_flat</mat-icon>
    </button>
  </div>
</section>
