<div class="auth container">
  <div
    class="auth-form auth-login__form"
    [ngClass]="{ hideForm: !isLoginFormVisible }"
  >
    <div
      class="auth-form-container"
      [ngClass]="{ hideFormContainer: !isLoginFormVisible }"
    >
      <hotels-login></hotels-login>
    </div>
  </div>

  <div
    class="auth-form auth-signup__form"
    [ngClass]="{ hideForm: isLoginFormVisible }"
  >
    <div
      class="auth-form-container"
      [ngClass]="{ hideSignUpFormContainer: isLoginFormVisible }"
    >
      <hotels-signup></hotels-signup>
    </div>
  </div>

  <div class="auth-overlay" [ngClass]="{ loginFormActive: isLoginFormVisible }">
    <div
      class="auth-overlay-left"
      [ngClass]="{ hideSignupOverlay: !isLoginFormVisible }"
    >
      <h2>New here?</h2>
      <p>Sign up and discover great amount of new opportunities!</p>
      <button mat-raised-button (click)="toggleOverlay()" color="accent">
        Sign Up
      </button>
    </div>
    <div
      class="auth-overlay-right"
      [ngClass]="{ hideLoginOverlay: !isLoginFormVisible }"
    >
      <h2>One of us?</h2>
      <p>If you already has an account, just sign in. We've missed you!</p>
      <button mat-raised-button (click)="toggleOverlay()" color="accent">
        Sign In
      </button>
    </div>
  </div>
</div>
