@import "../shared/styles/variables";

.auth {
  min-height: 100vh;
  font-family: "Cormorant", serif;

  overflow: hidden;
  position: relative;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/assets/images/visualsofdana-T5pL6ciEn-I-unsplash.jpg");
  background-size: cover;

  &__logo {
    margin-bottom: 5rem;
  }

  &-login__form {
    background-color: #edf1f5;
    grid-column: full-start / col-end 4;
    transition: all 2s ease-in-out;
    overflow: hidden;

    &.hideForm {
      transform: translateX(-60vw);
    }
  }

  &-signup__form {
    grid-column: col-start 9 / full-end;
    background-color: #edf1f5;
    overflow: hidden;
    transition: all 2s ease-in-out;
    &.hideForm {
      transform: translateX(60vw);
    }
  }

  &-form-container {
    width: 50%;
    transition: all 2s ease-in-out;

    &.hideFormContainer {
      transform: translateX(120vw);
    }

    &.hideSignUpFormContainer {
      transform: translateX(-120vw);
    }
  }

  &-form {
    position: relative;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    color: $color-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    transform: translateX(-50%);

    transition: all 2s ease-in-out;

    &.loginFormActive {
      transform: translateX(50%);
    }

    &__wrapper {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-left,
    &-right {
      font-family: "Cormorant", serif;

      & h2 {
        font-size: 3.4rem;
        margin-bottom: 3rem;
      }

      & p {
        font-size: 2.4rem;
        font-weight: 300;
        margin: 0 auto;
        margin-bottom: 3rem;
        width: 60%;
      }

      & button {
        color: $color-white;
      }
    }

    &-left {
      opacity: 1;
      visibility: visible;

      transition: transform 2.1s ease-in-out, visibility 1.9s ease,
        opacity 1.9s ease;

      text-align: center;

      &.hideSignupOverlay {
        opacity: 0;
        visibility: hidden;
        transform: translateX(120vw);
      }
    }

    &-right {
      text-align: center;
      position: absolute;

      transition: all 2s ease-in-out;
      transform: translateX(-90vw);
      visibility: hidden;
      opacity: 0;

      &.hideLoginOverlay {
        transform: translateX(30vw);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
