@import "../shared/styles/variables";

.recommend {
  background-color: #f3f3f3;
  font-family: "Cormorant", serif;

  &__title {
    font-size: 5.8rem;
    margin: 8rem 5rem;
    margin-bottom: 4rem;
    font-weight: 300;
    // grid-column: full-start / col-end 8;
    grid-column: col-start 5 / full-end;
    // padding-left: 5rem;
  }

  &__recommendations {
    height: 85vh;
    padding: 5rem;
    padding-right: 0;
    padding-top: 0;

    grid-column: col-start 5 / full-end;
    width: 100%;
    // height: 100%;
  }

  &-form {
    margin-top: 13.5rem;
    position: fixed;
    top: 10%;
    left: 5%;
    padding: 5rem;
    padding-top: 0;

    grid-column: full-start / col-end 4;

    &__title {
      font-size: 5.8rem;
      margin: 3rem 0;
      font-weight: 300;
      visibility: hidden;
    }
  }
}

.form {
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      width: 47%;

      & input {
        width: 100%;
      }

      &:last-child .form__group-input mat-icon {
        left: 6%;
      }
    }
  }

  &__title {
    font-size: 5.8rem;
    margin-bottom: 4rem;
    font-weight: 300;
  }
  &__group {
    margin-bottom: 3rem;

    &:first-child &-input input {
      width: 100%;
    }

    &-title {
      font-size: 2.8rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    &-input {
      display: flex;
      position: relative;

      &--dates {
        display: flex;
        justify-content: space-between;

        & > * {
          width: 47%;
          // flex: 1 0 auto;

          & input {
            width: 100%;
          }
        }
      }

      & input {
        padding-left: 6rem;
        padding-right: 0rem;
      }

      & label {
        padding-left: 4rem;
      }

      & mat-icon,
      & mat-datepicker-toggle {
        position: absolute;
        top: 55%;
        left: 3%;
        transform: translateY(-50%);
      }

      & mat-icon {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }

  &__button {
    padding: 2rem 5rem;
    border-radius: 1rem;
    background-color: $color-secondary;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0.8px 1.7px 2.3px rgba(0, 0, 0, 0.034),
      1.9px 4.1px 5.5px rgba(0, 0, 0, 0.048),
      3.6px 7.8px 10.3px rgba(0, 0, 0, 0.06),
      6.5px 13.8px 18.3px rgba(0, 0, 0, 0.072),
      12.1px 25.9px 34.3px rgba(0, 0, 0, 0.086),
      29px 62px 82px rgba(0, 0, 0, 0.12);

    // position: absolute;
    // bottom: -10%;
    // right: 6rem;

    font-size: 2rem;
    font-family: "Cormorant", serif;
    display: inline-flex;
    align-items: center;

    & mat-icon {
      margin-left: 2rem;
    }
  }
}

.guests {
  width: 47%;
}
.guests-field {
  padding: 1.5rem 2rem;
  padding-top: 2.5rem;
  border-radius: 0.5rem;
  background-color: rgba($color-white, 1);
  border: none;
  // border-bottom: 3px solid transparent;
  // width: 90%;
  height: 6.7rem;
  display: block;
  cursor: pointer;

  position: relative;

  &__label,
  &__count {
    margin-left: 4rem;
    font-size: 1.6rem;
  }

  & .guest-icon {
    position: absolute;
    top: 55%;
    left: 6%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.54);
  }
}

.matMenu {
  // width: 5rem !important;
  // max-width: unset !important;

  &__container {
    padding: 3rem;
    width: 30rem;
  }

  &__header {
    color: $color-primary;
    font-family: "Cormorant", serif;

    font-size: 2.4rem;
    font-weight: 700;

    margin-bottom: 3rem;
  }

  &-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;

      & mat-icon {
        margin-right: 1rem;
      }
    }
  }

  &__counter {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    width: 100%;
    margin-top: 3rem;
  }

  &__input {
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    // padding: 1.5rem 2rem;
    // padding-top: 2.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    background-color: rgba($color-white, 1);
    border: none;
    border-bottom: 3px solid transparent;
    // width: 90%;
    // height: 100%;
    display: block;
    transition: all 0.3s;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-black;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-black;
    }

    &::-webkit-input-placeholder {
      color: $color-black !important;
      font-size: 1.6rem !important;
    }
  }
}

::ng-deep.mat-menu-panel {
  max-width: fit-content !important;
}

.cards {
  height: 65vh;
  overflow-y: scroll;
  position: relative;

  &__text {
    width: 90%;
    margin-left: 5rem;
    font-size: 2.4rem;
  }

  & mat-progress-spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
