// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;

// Plus imports for other components in your app.
@import "./app/views/shared/styles/variables";
@import "./app/views/shared/styles/mixins";
@import "./app/views/shared/styles/form";

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

$custom-typography: mat.define-typography-config(
  $font-family: "serif",
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hotels-primary: mat.define-palette($primarypalette);
$hotels-accent: mat.define-palette($accentpalette, 500, A100, A400);

// The warn palette is optional (defaults to red).
$hotels-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hotels-theme: mat.define-light-theme(
  (
    color: (
      primary: $hotels-primary,
      accent: $hotels-accent,
      warn: $hotels-warn,
    ),
    typography: $custom-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hotels-theme);

/* You can add global styles to this file, and also import other style files */

@import "./app/views/shared/styles/material_styles";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px=62.5%

  @include respond("big-desktop") {
    font-size: 75%; //1 rem = 12px; 12px/16px=75%
  }

  @include respond("tab-land") {
    font-size: 56.25%; //1 rem = 9px; 9px/16px=56.25%
  }

  @include respond("tab-pot") {
    font-size: 50%; //1 rem = 8px; 8px/16px=50%
  }

  @include respond("phone") {
    font-size: 43.75%; //1 rem = 7px; 7px/16px=43.75%
  }
  @include respond("phone-m") {
    font-size: 31.25%; //1 rem = 5px; 5px/16px=31.25%
  }
}

body {
  // font-family: "Times New Roman", Times, serif;
  font-family: "Times New Roman", serif;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;

  &-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.26);
  }
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}
