<div class="auth__logo">
  <div class="auth__nav-header">
    <figure class="auth__nav-logo">
      <img src="/assets/svg/logo.svg" alt="Hotels Logo" />
    </figure>
    <h1>Hotels</h1>
  </div>
</div>

<div class="auth-form__header">
  <h1>Sign In</h1>
  <p>Welcome Back!</p>
  <p>Sign In to get the best hotel recommendations for your next trip.</p>
</div>

<form class="auth-form__login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>

  <button class="auth-form__login-button" mat-raised-button color="primary">
    Sign in
    <mat-progress-spinner mode="indeterminate" diameter="16" *ngIf="isLoading"></mat-progress-spinner>
  </button>
</form>

<div class="auth-form__signup-prompt">
  <p>Don't have an Account?</p>
  <button class="" mat-stroked-button color="primary" routerLink="/auth/signup">
    Sign Up
  </button>
</div>
